<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="30000">
		<setting label="30001" type="select" id="o2em_audio_volume" values="50|0|10|20|30|40|60|70|80|90|100" default="50"/>
		<setting label="30002" type="select" id="o2em_bios" values="o2rom.bin|c52.bin|g7400.bin|jopac.bin" default="o2rom.bin"/>
		<setting label="30003" type="select" id="o2em_crop_overscan" values="disabled|enabled" default="disabled"/>
		<setting label="30004" type="select" id="o2em_low_pass_filter" values="disabled|enabled" default="disabled"/>
		<setting label="30005" type="select" id="o2em_low_pass_range" values="60|5|10|15|20|25|30|35|40|45|50|55|65|70|75|80|85|90|95" default="60"/>
		<setting label="30006" type="select" id="o2em_mix_frames" values="disabled|mix|ghost_65|ghost_75|ghost_85|ghost_95" default="disabled"/>
		<setting label="30007" type="select" id="o2em_region" values="auto|NTSC|PAL" default="auto"/>
		<setting label="30008" type="select" id="o2em_swap_gamepads" values="disabled|enabled" default="disabled"/>
		<setting label="30009" type="select" id="o2em_vkbd_transparency" values="0|25|50|75" default="0"/>
	</category>
</settings>
